:host {
  .stages {
    background-color: #48337b;

    .stages-title {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 30px 0;

      h1 {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 36px;
        color: #ffffff;
        margin-bottom: 30px;
      }
    }

    .ux-process {
      .process {
        padding-right: 20px;
        margin-top: -80px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 5%;
      }
    }
  }

  .main {
    padding: 50px 50px;

    h1 {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
      color: #000000;
    }
  }

  .rdt {
    position: relative;

    .rdt-title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-style: normal;
      font-weight: 500;
      font-size: 30px;
      line-height: 112px;
      color: #ffffff;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

  @media screen and (min-width: 1000px) {
    .stages {
      .stages-title {
        h1 {
          font-size: 48px;
        }
      }
      .ux-process {
        .process {
          .process-img {
            width: 60%;
          }
        }
      }
    }

    .main {
      padding: 50px 100px;
    }

    .rdt {
      .rdt-title {
        font-size: 50px;
      }
    }
  }

  @media screen and (min-width: 1920px) {
    .stages {
      .stages-title {
        h1 {
          font-size: 48px;
        }
      }
      .ux-process {
        .process {
          .process-img {
            width: 40%;
          }
        }
      }
    }

    .main {
      padding: 50px 240px;
    }

    .rdt {
      .rdt-title {
        font-size: 70px;
      }
    }
  }
}
