<div class="stages">
  <div class="stages-title">
    <h1>Stages of UX proccess</h1>
  </div>
  <div class="ux-process">
    <div class="process">
      <img src="assets/stages.png" class="process-img" width="80%" alt="" />
    </div>
  </div>
</div>

<div class="main">
  <h1>
    There are 5 main stages of every UX proccess. <br />
    On this page we are going to see some detail about them, they are:<br /><br />
    Empathize<br />
    Define<br />
    Ideate<br />
    Prototype<br />
    Testing<br /><br />
  </h1>
  <h2>
    <br />
    Often this cycle is repeated, with each iteration bringing the product
    closer to perfection. Moreover, the stages are always one after <br />
    another. Testing should be done intermittently with design to incorporate
    the results in later designs. And as for research, ideally you’ll <br />
    want to know as much as you can before you start, so it should be the first
    step... but that said, it’s never a bad time to learn more about
    <br />
    your users.
  </h2>
</div>

<div class="rdt">
  <h1 class="rdt-title">Researcing</h1>
  <img src="assets/1.png" alt="" width="100%" />
</div>

<div class="main">
  <h1>
    Stage 1: Empathize—Research Your Users' Needs <br />
    Here, you should gain an empathetic understanding of the problem you’re
    trying to solve, typically through user research.<br />

    <br />Empathy is crucial to a human-centered design process such as design
    thinking because it allows you to set aside your own <br />
    assumptions about the world and gain real insight into users and their
    needs. <br />

    <br />2. Stage 2: Define—State Your Users' Needs and Problems<br />
    It’s time to accumulate the information gathered during the Empathize
    stage.<br />

    <br />You then analyze your observations and synthesize them to define the
    core problems you and your team have identified. These <br />
    definitions are called problem statements.<br />

    <br />You can create personas to help keep your efforts human-centered
    before proceeding to ideation.
  </h1>
</div>

<div class="rdt">
  <h1 class="rdt-title">Design</h1>
  <img src="assets/2.jpg" alt="" width="100%" />
</div>

<div class="main">
  <h1>
    Stage 3: Ideate—Challenge Assumptions and Create Ideas <br />
    Now, you’re ready to generate ideas. The solid background of knowledge from
    the first two phases means you can start to “think <br />
    outside the box” <br />

    <br />
    look for alternative ways to view the problem and identify innovative
    solutions to the problem statement you’ve created.<br />

    <br />Brainstorming is particularly useful here..<br />

    <br />Stage 4: Prototype—Start to Create Solutions<br />
    This is an experimental phase. The aim is to identify the best possible
    solution for each problem found<br />

    <br />Your team should produce some inexpensive, scaled-down versions of the
    product (or specific features found within the product) to<br />
    investigate the ideas you’ve generated.<br />

    <br />This could involve simply paper prototyping
  </h1>
</div>

<div class="rdt">
  <h1 class="rdt-title">Testing</h1>
  <img src="assets/3.jpg" alt="" width="100%" />
</div>

<div class="main">
  <h1>
    Stage 5: Test—Try Your Solutions Out <br />
    Evaluators rigorously test the prototypes. Although this is the final phase,
    design thinking is iterative<br />

    <br />Teams often use the results to redefine one or more further
    problems.<br />

    <br />So, you can return to previous stages to make further iterations,
    alterations and refinements – to find or rule out alternative solutions.
  </h1>
</div>
