<div class="stages">
    <div class="process">
        <div class="title">
            <h1>Stages of UX proccess</h1>
        </div>
        <div class="three">
            <div class="research">
            <h1>Research</h1>
        </div>
        <div class="arrow1">
            <svg width="517" height="521" viewBox="0 0 517 521" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M481.493 351.007C481.038 351.699 480.108 351.891 479.415 351.436L468.136 344.018C467.444 343.563 467.252 342.633 467.707 341.941C468.163 341.248 469.093 341.056 469.785 341.512L479.811 348.105L486.405 338.08C486.86 337.387 487.79 337.195 488.482 337.651C489.174 338.106 489.366 339.036 488.911 339.728L481.493 351.007ZM478.771 350.486C458.948 254.49 395.628 175.227 309.444 141.555C223.312 107.903 114.089 119.692 2.23651 206.31L0.399674 203.938C112.941 116.787 223.262 104.662 310.535 138.76C397.756 172.838 461.701 252.988 481.709 349.88L478.771 350.486Z" fill="white"/>
                </svg>
                <h1>Design</h1>
        </div>
        </div>
        <div class="three1">
            <div class="arrow2">
                <svg width="416" height="512" viewBox="0 0 416 512" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M170.952 9.90836C171.776 9.83028 172.508 10.4356 172.586 11.2603L173.859 24.7002C173.937 25.525 173.331 26.2569 172.507 26.3349C171.682 26.413 170.95 25.8077 170.872 24.983L169.741 13.0364L157.794 14.1672C156.97 14.2453 156.238 13.64 156.16 12.8153C156.082 11.9905 156.687 11.2587 157.512 11.1806L170.952 9.90836ZM172.249 12.3577C106.228 92.1846 70.8619 195.17 82.0871 288.65C93.2997 382.026 151.011 466.088 271.558 508.285L270.567 511.116C148.968 468.551 90.4611 383.549 79.1085 289.008C67.7685 194.571 103.49 90.7879 169.937 10.4457L172.249 12.3577Z" fill="white"/>
                    </svg>
            </div>
            <div class="testing">
                <h1>Testing</h1>
            </div>
            <div class="arrow3">
                <svg width="495" height="377" viewBox="0 0 495 377" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M57.7358 341.364C57.3537 340.629 57.6397 339.723 58.3748 339.341L70.3527 333.114C71.0877 332.732 71.9933 333.018 72.3755 333.753C72.7576 334.488 72.4715 335.394 71.7365 335.776L61.0895 341.311L66.6249 351.958C67.0071 352.693 66.721 353.599 65.986 353.981C65.251 354.363 64.3453 354.077 63.9632 353.342L57.7358 341.364ZM59.5185 339.242C216.308 388.767 430.303 267.301 425.579 1.61948L428.579 1.56614C433.335 269.102 217.542 392.303 58.6149 342.103L59.5185 339.242Z" fill="white"/>
                    </svg>
        </div>
    </div>
    
    <div class="main">
        <div class="text">
            <h1>There are 5 main stages of every UX proccess. <br> On this page we are going to see some detail about them, they are:</h1>
            <h2><br>Empathize <br> Define<br> Ideate <br>Prototype<br> Testing</h2>
            <h3> <br> Often this cycle is repeated, with each iteration bringing the product closer to perfection. Moreover, the stages are always one after <br>
                 another. Testing should be done intermittently with design to incorporate the results in later designs. And as for research, ideally you’ll <br>
                  want to know as much as you can before you start, so it should be the first step... but that said, it’s never a bad time to learn more about <br>
                   your users.</h3>
        </div>
    </div>

    <div class="researching">
        <div class="title-research">
        <h1>Researcing</h1>
    </div>
    </div>

    <div class="main2">
        <div class="text2">
            <h1>Stage 1: Empathize—Research Your Users' Needs <br>
                Here, you should gain an empathetic understanding of the problem you’re trying to solve, typically through user research.<br>
                
                <br>Empathy is crucial to a human-centered design process such as design thinking because it allows you to set aside your own <br> assumptions about the world and gain real insight into users and their needs. <br>
                
                <br>2. Stage 2: Define—State Your Users' Needs and Problems<br>
                It’s time to accumulate the information gathered during the Empathize stage.<br>
                
                <br>You then analyze your observations and synthesize them to define the core problems you and your team have identified. These <br>
                 definitions are called problem statements.<br>
                
                 <br>You can create personas to help keep your efforts human-centered before proceeding to ideation.</h1>
        </div>
    </div>

    <div class="design">
        <div class="title-design">
            <h1>Design</h1>
        </div>
    </div>

    <div class="main3">
        <div class="text3">
            <h1>Stage 3: Ideate—Challenge Assumptions and Create Ideas <br>
                Now, you’re ready to generate ideas. The solid background of knowledge from the first two phases means you can start to “think <br>
                outside the box” <br>
                
                <br> look for alternative ways to view the problem and identify innovative solutions to the problem statement you’ve created.<br>
                
                <br>Brainstorming is particularly useful here..<br>
                
                <br>Stage 4: Prototype—Start to Create Solutions<br>
                This is an experimental phase. The aim is to identify the best possible solution for each problem found<br>
                
                <br>Your team should produce some inexpensive, scaled-down versions of the product (or specific features found within the product) to<br>
                investigate the ideas you’ve generated.<br>
                
                <br>This could involve simply paper prototyping</h1>
        </div>
    </div>

    <div class="testing1">
        <div class="title-testing">
            <h1>Testing</h1>
        </div>
    </div>

    <div class="main4">
        <div class="text4">
            <h1>Stage 5: Test—Try Your Solutions Out <br>
                Evaluators rigorously test the prototypes. Although this is the final phase, design thinking is iterative<br>
                
                <br>Teams often use the results to redefine one or more further problems.<br>
                
                <br>So, you can return to previous stages to make further iterations, alterations and refinements – to find or rule out alternative solutions.</h1>
        </div>
    </div>
</div>
