<div class="contact">
  <div class="container">
    <h1>CONTACT US</h1>
    <div class="form">
      <input type="text" name="name" placeholder="Your name" />
      <label class="labela" for="">Assistive text</label>

      <input type="email" name="email" placeholder="Your email" />
      <label class="labela" for="">Assistive text</label>

      <input type="text" name="message" placeholder="Your message" />
      <label class="labela" for="">Assistive text</label>

      <div class="button">
        <button type="submit">Submit</button>
      </div>
    </div>
  </div>
</div>
