<div class="home">
  <div class="elipse1">
    <img src="assets/elipse1.png" alt="" srcset="" width="100%" />
  </div>
  <div class="elipse2">
    <img src="assets/elipse2.png" alt="" srcset="" width="100%" />
  </div>
  <div class="elipse3">
    <img src="assets/elipse3.png" alt="" srcset="" width="100%" />
  </div>

  <div class="title">
    <h1 class="title1">User Experience</h1>
    <h4 class="title2">It’s all about thinking and felling</h4>
  </div>
</div>

<div class="rectangle">
  <div class="left">
    <p>
      Ambiton, Talent, Love <br />
      Call it whatever you want.
    </p>

    <h2>We call it User Experience</h2>
    <p>
      UX doesn’t mean one thing. One of the greatest pitfalls for newcomers is
      trying to understand UX as a field separate from other related fields
      (like web development, technical communication, etc.). <br /><br /><br />
      UX is an interdisciplinary field. UX is a way of looking at the world that
      involves making decisions beyond data with humans firmly in mind.<br /><br />
    </p>
    <button type="submit" routerLink="uxui" class="read-more">Read more</button>
  </div>
  <div class="right">
    <div class="circles">
      <img src="assets/circles.png" width=" 100%" alt="" />
    </div>
  </div>
</div>

<div class="brain">
  <div class="ux">
    <h1>UX</h1>
    <h3>
      Tehnical skills <br />
      like logic
    </h3>
  </div>
  <img class="brain-img" src="assets/brain.png" alt="" srcset="" />
  <div class="ui">
    <h1>UI</h1>
    <h3>
      Visual taste <br />
      aesmetic
    </h3>
  </div>
</div>

<div class="principles">
  <div class="principles-title">
    <h1>Four prinicples of UX</h1>
  </div>
  <div class="square">
    <div class="s">
      <img src="assets/remove.png" width="100%" alt="" srcset="" />
      <p class="tag">Remove</p>
    </div>
    <div class="s">
      <img src="assets/organize.png" width="100%" alt="" srcset="" />
      <p class="tag">Organize</p>
    </div>
    <div class="s">
      <img src="assets/hide.png" width="100%" alt="" srcset="" />
      <p class="tag">Hide</p>
    </div>
    <div class="s">
      <img src="assets/displace.png" width="100%" alt="" srcset="" />
      <p class="tag">Displace</p>
    </div>
  </div>
</div>

<div class="stages">
  <div class="stages-title">
    <h1>Three stages of UX proccess</h1>
  </div>
  <div class="elipse4">
    <img src="assets/elipse4.png" alt="" srcset="" width="100%" />
  </div>
  <div class="elipse5">
    <img src="assets/elipse5.png" alt="" srcset="" width="100%" />
  </div>

  <div class="start-finish">
    <img
      class="start-finish-img"
      src="assets/start-finish.png"
      alt=""
      srcset=""
    />
  </div>
</div>
